@use 'reset';
@use '../../components/UI/SideNav/_SideNav.scss';
@use '../../components/UI/Landing/_landing.scss';




h1{
  font-size: 4rem;
}

h3{
  font-size: 2.5rem;
}

.landing-full{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vh;
  .landing{

  }
}