@use 'reset';
@use '../../components/UI/SideNav/_SideNav.scss';
@use '../../components/UI/Landing/_landing.scss';
@use '../../components/UI/Content/_content.scss';


h1{
  font-size: 4rem;
}

h3{
  font-size: 2.5rem;
}

.landing-full{
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-gap: 0;
  min-width: 100vw;
  overflow-x: hidden;

  .right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 19.5em;
  }
}