.content-container{
  z-index: 1000;
  .content-area{
    display: grid;
    grid-template-columns: 1fr 80%;
    height: calc(100vh * .6);
    width: 100vw;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    &__inner{
      background: #5052b5;
      color: #ffffff8c;
      padding: 5em 4em;
      h2{
        font-size: 1.75em;
        color: #fff;
        margin-bottom: 1em;
      }
      p{
        font-size: 1em;
        line-height: 1.25;
        margin-bottom: 2em;
      }
  
    }
    &__actionBtn{
      border: solid 1px rgba(255, 255, 255, 0.15);
      border-radius: 3em;
      font-size: .7em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      width: 180px;
      background: transparent;
      outline: none;
      padding: 2em 2em;
      transition: background 0.2s ease, border-bottom-color 0.2s ease;
      &:hover{
      background: rgba(255, 255, 255, 0.15);
      }
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


/*tablets*/
@media only screen and (max-width: 960px){

}

/*phones*/
@media only screen and (max-width: 767px){
  .content-container{
    // height: 1890px;
    height: 100%;
    .content-area{

      grid-template-columns: 1fr;

      height: 630px;
      width: 100%;
      img{
        height: 300px;
        width: 100vw;
        object-fit: cover;
        object-position: center;
      }
      &__inner{
        background: #5052b5;
        color: #ffffff8c;
        height: 330px;
        h2{
          font-size: 1.75em;
          color: #fff;
          margin-bottom: 1em;
        }
        p{
          font-size: 1em;
          line-height: 1.25;
          margin-bottom: 2em;
        }
    
      }
      &__actionBtn{
        border: solid 1px rgba(255, 255, 255, 0.15);
        border-radius: 3em;
        font-size: .7em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        width: 180px;
        background: transparent;
        outline: none;
        padding: 2em 2em;
        transition: background 0.2s ease, border-bottom-color 0.2s ease;
        &:hover{
        background: rgba(255, 255, 255, 0.15);
        }
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}