.contact{
  background: #5e42a6;
  height: 100%;
  width: 100vw;
  color: #fff;
  padding: 5em 4em;
  &__heading{
    // padding: 5em 4em;
    h2{
      font-size: 1.75em;
      color: #fff;
      margin-bottom: .8em;
    }
    p{
      font-size: 17px;
      line-height: 1.5;
      opacity: .5;
      margin-bottom: 2em;
    }

  }
}